//= require_tree .
//= require_self
//= require normalize
//= require skeleton

table.commit_activity
  table-layout: fixed
  td
    width: 10px
    height: 10px
    padding: 0
    background: #2980b9

.ai-toolbox
  .hero
    background: image-url("dark_wall.png")
