//= require normalize
//= require skeleton
//= require_self

$text: #636363
$primary: #32C1EE

@import "homepage"

.navigation
  h1
    padding: 10px 0
    a
      color: #333
      text-decoration: none
  .menu
    padding: 10px 0
    margin-top: 20px
    font-size: 18px
    a
      color: #333
      text-decoration: none
      margin-left: 20px

.repo
  color: lighten($text, 20)
  padding: 20px 0
  a
    color: $text
    text-decoration: none
  .name
    font-size: 3rem
    font-weight: bold
    margin-bottom: 0
  .timestamp
    margin-top: 15px
    font-style: italic
    text-transform: lowercase
    text-align: right
  p
    margin-bottom: 0
  table.stats
    th, td
      padding: 0 15px 0 0
      border: none
  .commit_activity
    b
      color: $text
    table
      table-layout: fixed
      td
        width: 10px
        height: 10px
        padding: 0
        background: $primary

.flash-success
  color: white
  background-color: $primary
  padding: 20px 0
  text-align: center

.new-repo
  label
    display: inline-block

.footer
  text-align: center
  font-size: 2rem
  padding: 100px 0 60px
