.homepage
  .hero
    color: white
    background: image-url("dark_wall.png")
    .robot
      width: 100%
      float: right
    .title
      margin-top: 5px
      margin-bottom: 5px
      color: $primary
    .search
      margin-top: 25px
    .navigation
      h1 a
        color: white
      .menu a
        color: white
