<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <%= render "layouts/flash" %>
    <%= yield %>
    <div class="footer">
      Follow me <a href="https://twitter.com/choxi">on Twitter.</a>
    </div>
  </body>
</html>
